/* dark theme */

[data-bs-theme="dark"]{
    /* background */
    --bs-body-bg: #000000;
}

[data-bs-theme="dark"] .btn-primary{
    /* btn primary */
    --bs-btn-bg: #6a0a0a;
    --bs-btn-border-color: #410000;
    --bs-btn-hover-bg: #410000;
    --bs-btn-hover-border-color: #410000;
    --bs-btn-active-bg: #2e0000;
    --bs-btn-active-border-color: #230000;
    --bs-btn-disabled-bg: #410000;
    --bs-btn-disabled-border-color: #410000;
}


/* global */
:root{
    --bs-border-radius: 0;
}





/* fonts */
:root {
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Bebas Neue', sans-serif;
    /* --font-accent: 'Courier New', monospace; */
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    letter-spacing: 0.1em;
}

.navbar{
    font-family: var(--font-heading);
    letter-spacing: 0.15em;
    font-size: 0.7em;
}

p{
    font-family: var(--font-body);
    font-size: 0.6em;
}

.btn{
    font-family: var(--font-heading);
    font-size: 0.6em;
    letter-spacing: 0.3em;
}

.dropdown-item{
    font-family: var(--font-body);
    font-size: 0.7rem;
}

.dropdown span{
    font-family: var(--font-body);
    font-size: 0.6rem;    
}

.product-features span{
    font-family: var(--font-body);
    font-size: 0.6rem;    
}

.small{
    font-family: var(--font-body);
    font-size: 0.55rem;        
}

.description{
    font-size: 0.8rem;    
}

.cart-icon span{
    font-family: var(--font-body);
    font-size: 0.4rem;            
}

#passModal label{
    font-family: var(--font-body);
    font-size: 0.7rem;            
}

input{
    border-radius: 0 !important;
}

.nav-icon .active{
    color: var(--bs-navbar-active-color) !important;
}

/* Remove Arros from Input Number Fields */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* Media Queries */



/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* logo */
    nav .navbar-brand{
	position: static !important;
	transform: translateX(+50%) !important;
	left: 0%;
    }

    /* navbar menus */
    .navbar-expand-md .offcanvas{
	position: absolute !important;
	transform: translateX(-50%) !important;
	left: 50%;	
    }
}

